{
  "RABBITMQ_CONNECTION_STRING": "amqp://guest:guest@localhost:5672",
  "RABBITMQ_QUEUE_NAME": "log-system",
  "RABBITMQ_PERSISTENCE_EXCHANGE_NAME": "",
  "RABBITMQ_PERSISTENCE_ROUTING_KEY": "",
  "AZURE_BLOB_STORAGE_CONNECTION_STRING": "",
  "AZURE_SUBSCRIPTION_ID": "",
  "AZURE_RESOURCE_GROUP_NAME": "",
  "AZURE_STORAGE_ACCOUNT_NAME": "",
  "AZURE_TENANT_ID": "",
  "AZURE_CLIENT_ID": "",
  "AZURE_CLIENT_SECRET": "",
  "LOG_DATABASE_CONNECTION_STRING": "Server=localhost,1433;Initial Catalog=LogSystem;User ID=sa;Password=<YourStrongPassword>;",
  "CLEANUP_MAX_ROWS_PER_BATCH": "",
  "CLEANUP_MAX_CONCURRENT_COLLECTIONS": "",
  "PERSISTENCE_MAX_FREQUENCY_SECONDS": "",
  "RABBITMQ_CHANNEL_COUNT": "",
  "RABBITMQ_PREFETCH_COUNT": "",
  "SYSTEM_CACHE_DURATION_MINUTES": "",
  "LOGCOLLECTION_DEFAULT_LOG_TTL_HOURS": ""
}