{
  "RABBITMQ_CONNECTION_STRING": "amqp://guest:guest@localhost:5672",
  "RABBITMQ_QUEUE_NAME": "log-system",
  "AZURE_BLOB_STORAGE_CONNECTION_STRING": "",
  "LOG_DATABASE_CONNECTION_STRING": "Server=localhost,1433;Initial Catalog=LogSystem;User ID=sa;Password=<YourStrongPassword>;",
  "PERSISTENCE_MAX_FREQUENCY_SECONDS": "",
  "SYSTEM_CACHE_DURATION_MINUTES": "",
  "LOGCOLLECTION_DEFAULT_LOG_TTL_HOURS": ""
}